.logo {
	font-family: 'Gemunu Libre', sans-serif;
}
.default {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.primaryColor {
	box-shadow: 2px 2px 2px 0 rgba(6, 13, 19, 0.5) inset,  -2px -2px 2px 0 rgba(231, 231, 231, 0.5) inset;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 50px;
	transition: height 0.5s ease;
	@media screen and (min-width:768px) {
		height: 100px;
		display: flex;
		align-items: center;
	}
	&.isGnavSpOpen {
		height: 100vh;
		transition: height 0.5s ease;
	}
}
.headerInner {
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset,  -2px -2px 2px 0 rgba(255, 255, 255, 1) inset;
}
