.logo {
	font-family: 'Gemunu Libre', sans-serif;
}
.default {
	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
}
.primaryColor {
	box-shadow: 0 -2px 2px 0 rgba(6, 13, 19, 0.5) inset,  0 2px 2px 0 rgba(231, 231, 231, 0.5) inset;
}
.footerInner {
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset,  -2px -2px 2px 0 rgba(255, 255, 255, 1) inset;
}
