.dents {
	&.default {
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset,  -2px -2px 2px 0 rgba(255, 255, 255, 0.5) inset;
	}
	&.primary-color {
		box-shadow: 2px 2px 2px 0 rgba(6, 13, 19, 0.5) inset,  -2px -2px 2px 0 rgba(231, 231, 231, 0.5) inset;
	}
	&:hover {
		cursor: auto;
		pointer-events: none;
	}
}

.bumps {
	&.default {
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.5),  -2px -2px 2px 0 rgba(255, 255, 255, 0.5);
	}
	&.primary-color {
		box-shadow: 2px 2px 2px 0 rgba(4, 9, 14, 0.5),  -2px -2px 2px 0 rgba(36, 81, 129, 0.5);
	}
}
