.bumps {
  box-shadow: 0 -5px 10px 0 RGB(0, 0, 0, 0.5);
}

.dents {
  box-shadow: inset 5px 5px 10px #131921, inset -5px -5px 10px #2d3b4d;
}

.border {
  box-shadow: 0 -3px 3px #2d3b4d, 0 3px 3px #131921;
}
