.bumps {
  &-default {
    box-shadow: 5px 5px 7px #12171e, -5px -5px 7px #2e3d50;
  }
  &-primary {
    box-shadow: 2px 2px 2px 0 rgba(4, 9, 14, 0.5),
      -2px -2px 2px 0 rgba(36, 81, 129, 0.5);
  }
}

.dents {
  &-default {
    box-shadow: inset 5px 5px 7px #12171e, inset -5px -5px 7px #2e3d50;
  }
  &-primary {
    box-shadow: 2px 2px 2px 0 rgba(6, 13, 19, 0.5) inset,
      -2px -2px 2px 0 rgba(231, 231, 231, 0.5) inset;
  }
  &-default,
  &-primary {
    &:hover {
      cursor: auto;
    }
  }
}
