.articles {
  h2 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    padding: 1.5em 0;
    margin: 1.5em 0;
    @media screen and (min-width: 560px) {
      font-size: 22px;
    }
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 30px;
      height: 2px;
      background-color: #d1d5db;
    }
  }
  h3 {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding: 1em 0;
    margin: 1em 0;
    @media screen and (min-width: 560px) {
      font-size: 18px;
    }
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 30px;
      height: 2px;
      background-color: #d1d5db;
    }
  }
  h4 {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    padding: 1em 0;
    margin: 1em 0;
    @media screen and (min-width: 560px) {
      font-size: 16px;
    }
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 30px;
      height: 2px;
      background-color: #d1d5db;
    }
  }
  p {
    font-size: 14px;
    line-height: 2em;
    @media screen and (min-width: 560px) {
      font-size: 16px;
    }
    code {
      padding: 4px 8px;
      margin: 0 5px;
      color: rgb(236, 0, 0);
      border-radius: 4px;
      box-shadow: inset 5px 5px 10px #131921, inset -5px -5px 10px #2d3b4d;
      font-size: 12px;
      @media screen and (min-width: 560px) {
        font-size: 13px;
      }
      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }
    a {
      text-decoration: underline;
    }
  }
  pre {
    margin: 1em 0;
    position: relative;
    code {
      display: block;
      padding: 5em 2em 2em !important;
      border-radius: 12px;
      box-shadow: inset 5px 5px 10px #131921, inset -5px -5px 10px #2d3b4d;
      font-size: 12px;
      @media screen and (min-width: 560px) {
        padding: 4.5em 2em 2em !important;
        font-size: 13px;
      }
      @media screen and (min-width: 768px) {
        padding: 4em 2em 2em !important;
        font-size: 14px;
      }
    }
  }
  blockquote {
    position: relative;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #e5e7eb;
    color: #9ca3af;
    font-size: 14px;
    @media screen and (min-width: 560px) {
      font-size: 16px;
    }
  }
}
.preCodeLanguage {
  code {
    @apply bg-gray-800;
  }
  &::before {
    content: attr(data-heading);
    padding: 0.5em 2em;
    font-size: 12px;
    color: #fff;
    box-shadow: inset 5px 5px 10px #131921, inset -5px -5px 10px #2d3b4d;
    @apply bg-gray-800;
    position: absolute;
    top: 1.5em;
    left: 2em;
    border-radius: 8px;
  }
}
